$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #5fcf65;
$negative  : #f96057;
$info      : #31CCEC;
$warning   : #F2C037;
$bg-theme-color: rgba(16 18 27 / 40%);
$scrollbar-color: rgb(1 2 3 / 40%);
$white     : #ffffff;
